<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registrations.css">
</head>

<body>
    <div class="">
    <div class="row">
        <div class="col-12">
            <h1>Registration numbers list</h1>
        </div>
    </div>
    <br>
    <div class="center">
    <div class="row">
        <div class="error">
            <div class="displayFlash">{{messages.info}}</div>

        </div>
    </div>
    <br>
    <div class="row">
        <div style="padding-left: 30%" class="col-12">
            <form action="/reg_numbers" method="POST">

                <div class="input-group mb-6">
                    <input name="regnums" class="textArea" placeholder="Enter a registration number"
                       onkeyup=" this.value=this.value.toUpperCase();"   maxlength="10" ></input>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
<br>
    <form action="/filter" method="post">
        <div style="padding-left: 18%" class="row">
            <div class="col-12">
                <div  class="radio">
                    <span>
                        <span> <input type="radio" name="town_name" class="townButton" value="CA">Cape town</span>
                        <span> <input type="radio" name="town_name" class="townButton" value="CX">Knysna</span>
                        <span> <input type="radio" name="town_name" class="townButton" value="CY">Bellville</span>
                        <span> <input type="radio" name="town_name" class="townButton" value="All">showAll</span>
                        <button type="submit" class="btn btn-warning">Show</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <br>
    <form action="/clear" method="post" onsubmit="return confirm('Are you sure that you want to clear the data')">

        <div style="padding-left: 30%">
            <button type="submit" class="btn btn-info" 
            >Clear data</button>

        </div>
    </form>
    <br>
    <br>
    <div>
        <ul>
            {{#each reg}}
            <li style="list-style:none" class="plates">{{this.registration_num}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <ul>
            {{#each filt}}
            <li style="list-style:none" class="plates">{{this.registration_num}}</li>
            {{/each}}
        </ul>
    </div>
    </div>
</body>

</html>