<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registrations.css">
</head>

<body>
    <div class="row">
        <div class="col-12">
            <h1>Registration number list</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="error">
            <div class="displayFlash">{{info}}</div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <form action="/reg_numbers" method="POST">

                <div class="input-group mb-3">
                    <input name="regnums" class="textArea" placeholder="Enter a registration number"
                        maxlength="10"></input>

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <form action="/filter" method="post">
        <div class="row">
            <div class="col-12">
                <div class="                                                                                                                        radio">
                    <span>
                        <span> <input type="radio" name="town_values" class="townButton" value="CA">Cape town</span>
                        <span> <input type="radio" name="town_values" class="townButton" value="CX">Knysna</span>
                        <span> <input type="radio" name="town_values" class="townButton" value="CY">Bellville</span>
                        <span> <input type="radio" name="town_values" class="townButton" value="All">showAll</span>
                        <button type="submit" class="btn btn-warning">Show</button>

                    </span>
                </div>
            </div>
        </div>
    </form>
    <br>
    <form action="/clear" method="post">
        <div>

            <button type="submit" class="btn btn-info">Clear_data</button>
            
        </div>
    </form>
    <br>
    <br>
    <div class="row">
        <ul>
            {{#each reg}}
            <li style="list-style:none" class="plates">{{this.registration_num}}</li>
            {{/each}}
        </ul>
    </div>

 <div class="row">
        <ul>
            {{#each filt}}
            <li style="list-style:none" class="plates">{{this.registration_num}}</li>
            {{/each}}
        </ul>
    </div>



</body>

</html>