body{
    background-color: aqua;
    /* background-repeat: no-repeat;
    background-size: cover; */
  
  }
  
  .plates {
    border-radius: 25px;
    border: solid black;
    margin-bottom: 0.5em;
    margin-left: 2em;
    display: block;
    background:yellow;
    padding: 10px; 
    width: 115px;
    text-align: center;
    height: 20px;
    font-size: 20px; 
    float : left;
    
  }
    h1{
      font-style: oblique;
      font-size: 50px;
      text-align: center;
      width: 500px;
      border: 5px solid black;
      padding: 20px;
      margin: 10px;
  
    }
    .error{
      font-size: 20px; 
      margin-left: 2em;
      color: red;
      font-style: italic;
  
    }
    .col-6{
      float: left;
    }
    .errorMessage{
      font-size: 20px; 
      margin-left: 2em;
      color: orangered;
      font-style: italic;
  
    }
    .example{
      margin-left: 1.5em;
    }